<!-- for문 예시 -->
{% extends 'base.html' %} {% block content %} {% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/main/mainlistpage.css'%}"
/>

<div class="content" id="header">
    <div class="Caption Capital" id="Welcome">
        <p><span class="orange">동국대학교</span>에서 지금,</p>
        <p>모집 중인 <span class="orange">근로</span></p>
    </div>
</div>
<div class="content" id="main">
    <div id="filter">
        <input type="button" class="unchecked button Caption" id="all" value="전체"/>
        <input type="button" class="unchecked button Caption" id="oncampus" value="교내"/>
        <input type="button" class="unchecked button Caption" id="department" value="학과"/>
    </div>
    <div id="convenience">
        <span id="textfield">
            <input id="search" placeholder="검색" required value>
            <button id="submit" aria-label="submit"></button>
        </span>
        <span id="selector">
            <label for="sort">
                <select id="sort" class="Caption gray thin"> 
                    <option vlaue="">정렬</option>
                </select>
            </label>
            <label for="end">
                <select id="end" class="Caption gray thin">
                    <option vlaue="">마감 공고 제외</option>
                </select>
            </label>
            <label for="place">
                <select id="palce" class="Caption gray thin">
                    <option value="">근로 장소</option>
                </select>
            </label>
            <label for="income">
                <select id="income" class="Caption gray thin">
                    <option value="">소득 분위</option>
                </select>
            </label>
        </span>
    </div>
</div>
<div class="content" id="footer">

</div>
<!--div>
    {% for p in posts %}
        [{{p.organization}}] {{p.title}}
        <br>
    {% endfor %}
</div-->
{% endblock %}