<!--교직원,학생 알아보기 상세공고 페이지 담당:이동건-->
<!--ldg_workdetailpage-->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/main/post_detail.css'%}"
/>
<div class="detailpageScreen">
    <!--뒤로가기 버튼-->
    <div class="backBtn">
        <a href="{% url 'main:mainlistpage' %}" class="backBtnAtag">
            <img src="{% static 'images/icons/back.svg' %}" />
        </a>
    </div>
    <!--화면 내용 전체 프레임 박스사이gap72-->
    <div class="detailpageFrame">
        <!--상세공고 내용들어가는 박스1 -->
        <div class="detailBox1">
            <div class="box1Frame">
                <!--박스1 상단 인덱스 + 교직원기준 수정,삭제 버튼 프레임 -->
                <div class="box1TopFrame">
                    <!--박스1 상단 인덱스 프레임 -->
                    <div class="box1IndexFrame">
                        <div class="box1Index"><span class="box1IndexText">{{post.department}}</span></div>
                        <!-- 소득분위 반영 미반영 체크 -->
                        <div class="box1Index">
                            {% if post.is_income_bracket == 0 %}
                                <span class="box1IndexText">소득분위 미반영</span>
                            {% elif post.is_income_bracket == 1 %}
                                <span class="box1IndexText">소득분위 반영</span>
                            {% endif %}
                        
                        </div>
                        <div class="box1Index"><span class="box1IndexText">{{ post.recruitment }}명</span></div>
                    </div>
                    <!--박스1 상단 우측 수정,삭제버튼  로그인에 따라 구현 -->
                    {% if post.writer == user %} <!--게시글 작성자일 때-->
                        <div class="box1EditFrame">
                            <a href="{% url 'main:post-edit' id=post.id %}" class="box1Btn" id="EditBtn">수정</a>
                            <a href="{% url 'main:post-delete' id=post.id %}" class="box1Btn" id="DeleteBtn">삭제</a>
                        </div>
                    {% endif %}
                </div>
                <div class="box1Content1Frame">
                    <div class="box1TitleFrame">
                        <div class="box1Title">[{{post.organization}}] {{ post.title }}</div>
                        <div class="box1organization">{{post.place}}</div>
                    </div>
                    <div class="deadlineFrame">
                        {% if post.day_left >= 0 %}
                            <div class="deadline">~{{post.deadline}} 마감 {{post.day_left}}일 전</div>
                        {% else %}
                            <div class="deadline">모집마감</div>
                        {% endif %}
                        <div class="box1line"></div>
                    </div>
                    <div class="box1etcFrame">
                        <div class="etcWage">
                            <img src="{% static 'images/icons/money.svg' %}" />
                            <div class="etcText">시급<br>{{ post.wage }}원</div>
                        </div>
                        <div class="etcDate">
                            <img src="{% static 'images/icons/period.svg' %}" />
                            <div class="etcText">활동 기간<br>{{post.start_date}}~{{post.end_date}}</div>
                        </div>
                        <div class="etcTime">
                            <img src="{% static 'images/icons/date.svg' %}" />
                            <div class="etcText">요일 및 시간
                                <br>
                                {{post.time}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--세부사항 목차+박스프레임 -->
        <div class="detailBox2Frame">
            <!--세부사항 목차 아이콘?-->
            <div class="index">
                <span class="indexText">세부사항</span>
            </div>
            <!--세부사항 내용 들어가는 박스2-->
            <div class="detailBox2">
                <div class="box2Frame">
                    {% for body in post_body_list %}
                        <div class="check">
                            <img class="profileImage"src="{% static 'images/icons/check.svg' %}" />
                            <span class="box2Text">
                                {{body}}<br>
                            </span>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <!--지원하기 버튼--> <!--모집 마감시에 버튼 수정하기-->
        {% if user.profile.student_or_staff == 'student' %}
            {% if post.day_left >= 0 %}
                {% if user not in applied_users %}
                    <div class="applyBtn">
                        <a href="{% url 'main:apply' post.id %}" class="applyBtnAtag">
                            <span class="applyBtnContent">
                                지원하기
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                    <path d="M6.5 17.9897L18.3647 6.125M18.3647 6.125H7.50011M18.3647 6.125V15.9888" stroke="#FFFDFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                {% else %}
                    <div class="applyBtn">
                        <span class="applyBtnContent">
                            지원 완료
                        </span>
                    </div>
                {% endif %}
            {% else %}
                <div class="applyBtn">
                    <span class="applyBtnContent">
                        모집 마감
                    </span>
                </div>
            {% endif %}
        {% endif %}
    </div>

</div>

<!-- <script src="{% static 'js/main/workDetailPage.js' %}"></script> -->
{% endblock %} 
{% block footer %}
    <!--footer필요없는페이지라 비우기 -->
{% endblock %}
