{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="{% url 'accounts:signup-student' %}" method="POST">
    {% csrf_token %}
    <p>아이디</p>
    <input type="text" name="username">
    <br>

    <p>비밀번호</p>
    <input type="password" name="password">
    <br>

    <p>비밀번호 확인</p>
    <input type="password" name="confirm">
    <br>

    <p>이름</p>
    <input type="text" name="name">
    <br>

    <p>성별: </p>
    <input type="radio" name="gender" value="GENDER_M" checked="checked">남성
    <input type="radio" name="gender" value="GENDER_F">여성
    <br>

    <p>생년월일: </p>
    <input type="date" name="birth" min="1900-01-01" max="2024-01-01" required>
    <br>

    <p>전화번호</p>
    <input type="text" name="phone">
    <br>

    <p>이메일</p>
    <input type="email" name="email" maxlength="64" pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*" required>
    <br>

    <p>학과</p>
    <input type="text" name="department">
    <br>

    <p>학생증명서</p>
    <input type="file" name="certification">
    <br>
    
    <input type="submit" value="회원가입">
</form>

{% endblock %}