.container{
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;

    width: 82.5%;

    gap: 10px;

    margin-left: 7.5%;

    @media (max-width: 1050px) {
        align-items: start;
        justify-content: center;
    }
    @media (min-width: 1051px) {
        align-items: start;
        justify-content: center;
    }
}

#header{ 
    margin-top: 8em;
}

#main1{
    margin-top: 4em;
}

#convenience{
    display: flex;
    margin-top: 2.5em;
    align-items: center;
}

#textfield{
    display: flex;
    width: 36em;
    height: 3em;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 1em;
    border-radius: 50px;
    border: 1px solid #FFAF36;
}

#search{
    width: 450px;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 16px;
    letter-spacing: -0.33px;
}

#submit{
    position: relative;
    width: 24px;
    height: 24px;
    margin: 16px 26px 11px 10px;
    bottom: 3px;
    background: url(../../images/icons/search.svg) 0px 0px no-repeat;
}

#selector{
    margin-left: 7em;
    display:flex;
    gap: 13px;
}

#main2{
    margin-top: 4.8em;
    gap: 2.2em;
}

.unchecked{
    border: 1px solid #E4E4E4;
    background-color: #FFFDFB;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
    color: #9C9CA1;
}

.checked{
    border: none;
    background-color: #FE902F;
    box-shadow: 0px 0px 10px 0px rgba(254, 144, 47, 0.20);
    color: #FFF;
}

.button{
    width: 6em;
    height: 3em;
    border: none;
    border-radius: 1em;
}

.card{
    display:flex;
    width: 82.625em;
    height: 13.75em;
    flex-shrink: 0;
    border-radius: 0.75em;
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    align-items: center;
}

.star{
    margin-left: 4em;
}

.photo{
    margin-left: 2em;
}

.architecture{
    display:flex;
    width: 10em;
    height: 10em;
    border-radius:50%;
    background-color: #D3D3D3;
}

.detail{
    margin-left: 3.5em;
    margin-right: 6.25em;
}

.information .info{
    display: inline-block;
}

.classification{
    display: flex;
    padding: 11px 23px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #FF8A00;
    background: #FFF;
}

.date{
    display: flex;
    padding: 11px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FF8A00;
}

.title{
    margin-top: 19px;
}

.more_info{
    margin-left: auto;
    margin-right: 5.31em;
}

.circle{
    border-radius: 50%;
    border: 5px #FE902F;
}

input {
    display:inline-block;
}

button{
    background-color: #FFF;
    border:none;
    cursor: pointer;
}

textarea{
    outline: 0;
    resize: none;
}

input::placeholder{
    color:#FFAF36
}

label{
    display: inline-flex;
    align-items: flex-end;
}

select{
    display: flex;
    height: 3em;
    padding-left:0.5em;
    padding-right: 1em;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #E4E4E4;
    cursor: pointer;
}

.Capital{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px; /* 31.25% */
    letter-spacing: 3.2px;
}

.orange{
    color:#FE902F;
}

.white{
    color: #FFF;
}

.gray{
    color: #9C9CA1
}

.thin{
    font-size: 16px;
    font-weight: 500;
}

.small{
    font-size: 14px;
    font-weight: 500;
}

.big{
    font-size: 20px;
    font-weight: 600;
}

.light{
    color: rgba(28, 28, 30, 0.80);
}

.up{
    margin-top: 22px;
}

.Capital{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px; /* 31.25% */
    letter-spacing: 3.2px;
}

.orange{
    color:#FE902F;
}

.gray{
    color: #9C9CA1
}

.thin{
    font-size: 16px;
    font-weight: 500;
}