.screen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 88px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

/* @media screen and (max-width: 1300px) {
    .screen{
        display: flex;
        flex-direction: column;
        width: 1300px;
        height: 88px;
        align-items: flex-end;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    }
} */

.topnav {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 1.75em;
}

.topnav .nav-1{
    display: flex;
    flex-direction: row;
    width: 73vw;
    min-width: 1300px; 
}

.nav-1 .nav-2{
    display: flex;
    gap: 6.75em;
    margin-top: 2em;
}

.topnav .div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.topnav .logo{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.topnav .nav-3{
    display: flex;
    align-items: center;
    gap:1.18em;
    margin-top:2em;
}

.Caption {
    color: #1C1C1E;
    font-family: "SUITE Variable";
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.nav-3 .nav-link-account{
    display:flex;
    gap:1.5em;
}

.nav-3 .bell{
    margin-left: 1em;
}

.nav-3 .bell:hover{
    cursor: pointer;
}

#topnav_modal{
    display: none;
    flex-direction: column;
    width: 315px;
    border-radius: 12px;
    border: 1px solid #E9E9E9;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    gap: 8px;
    top: 120%;
    right: 0;
    padding: 14px 15px 20px 23px;
}   

#topnav_modal div{
    display: flex;
}

#topnav_modal div:hover{
    color: #FE902F
}

#topnav_modal div img:hover{
    cursor: pointer;
}

.logo-font{
    color: #FF8A00;
    font-family: "SUITE Variable";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
a {
    display: inline-block;
    white-space: nowrap;
    text-decoration-line: none;
}
.gray{
    color: #9C9CA1;
}

.screen,
.topnav,
.nav-1,
.nav-2,
.topnav .div,
.topnav .logo,
.topnav .nav-3,
.nav-3 .nav-link-account {
    box-sizing: border-box;
}
 
a {
    color: inherit;
    text-decoration: none; /* 밑줄 제거 */
} 

hr {
    border: none;
    height: 1px;
    background-color: #f0f0f0;
    position: relative;
}

hr::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

button{
    border: none;
    background-color: #FFF;
}

#blank-img{
    width: 18px;
    height: 18px;
    margin-right: 3px;
}

.modal_con{
    height: 38px;
    align-items: center;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 5px;
    background: rgba(255, 186, 82, 0.50);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.new{
    background: rgba(255, 186, 82, 0.50);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);   
    color: #E18417; 
}

.seen{
    background: #F7F7F7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    color: #9C9CA1;
}