.screen {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 88px;

    gap: 10px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

    @media (max-width: 1050px) {
        align-items: start;
        justify-content: center;
    }
    @media (min-width: 1051px) {
        align-items: center;
        justify-content: center;
    }
}

.topnav {
    display: flex;
    flex-direction: column;
    width: 1400px;
    justify-content: space-between;
    margin-bottom: 1.75em;
}

.topnav .nav-1{
    display: flex;
    flex-direction: column;
    width: 87.5rem; /* 1050px */
    height: 2.25rem; /* 36px */
    align-items: center;
    justify-content: center;
    gap: 0.625rem; /* 10px */
    transform: translateX(-1.25em);
}

.nav-1 .nav-2{
    display: flex;
    gap: 6.75em;
    margin-top: 2em;
}

.topnav .div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 20rem;
    position: relative;
    flex: 0 0 auto;
}

.topnav .logo{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.nav-1 .nav-3{
    display: flex;
    align-items: center;
    gap:1.18em;
    margin-top:2em;
}

.Caption {
    color: #1C1C1E;
    font-family: SUIT;
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.nav-3 .nav-link-account{
    display:flex;
    gap:1.5em;
}

.nav-3 .bell{
    margin-left: 1em;
}

.logo-font{
    color: #FF8A00;
    font-family: SUIT;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
a {
    text-decoration-line: none;
}
.gray{
    color: #9C9CA1;
}