<!--교직원마이페이지 공고관리 (지원자확인) 담당자: 이정진-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/users/staff_mypost.css'%}"
/>

<div class="content" id="header">
    <a href="">
        <img src="{% static 'images/icons/vector.svg' %}" id="vector">
    </a>
    <span class="Capital Caption" style="margin-left:-0.5em; margin-bottom:0.5em;">공고관리</span>
</div>

<div class="content" id="main2">
    {% if posts %}
        {% for post in posts %}
        <div class="card">
            <div class="more_function">
                <a href="{% url 'main:post-edit' id=post.id %}">
                    <img src="{% static 'images/icons/fix.svg' %}">
                </a>
                <button type="button" name="trash" onclick="delete_Card(this)"> <!--화면에서는 사라지는데 DB에서도 제거되어야 함-->
                    <img src="{% static 'images/icons/trash.svg' %}">
                </button>
            </div>
            <span class="photo">
                <span class="architecture">
                    <!--건물 사진 적용-->
                    {% if post.place == '경영/사회과학관' %}
                        <img src="{% static 'images/buildings/경영사회과학관.png' %}" alt="cardImage">
                    {% elif post.place == '과학관' %}
                        <img src="{% static 'images/buildings/과학관.png' %}" alt="cardImage" >
                    {% elif post.place == '남산학사' %}
                        <img src="{% static 'images/buildings/남산학사.png' %}" alt="cardImage" >
                    {% elif post.place == '다향관' %}
                        <img src="{% static 'images/buildings/다향관.png' %}" alt="cardImage" >
                    {% elif post.place == '명진관' %}
                        <img src="{% static 'images/buildings/명진관.png' %}" alt="cardImage" >
                    {% elif post.place == '법학/만해관' %}
                        <img src="{% static 'images/buildings/법학만해관.png' %}" alt="cardImage" >
                    {% elif post.place == '본관' %}
                        <img src="{% static 'images/buildings/본관.png' %}" alt="cardImage" >
                    {% elif post.place == '신공학관' %}
                        <img src="{% static 'images/buildings/신공학관.png' %}" alt="cardImage" >
                    {% elif post.place == '원흥관' %}
                        <img src="{% static 'images/buildings/원흥관.png' %}" alt="cardImage" >
                    {% elif post.place == '정보문화관' %}
                        <img src="{% static 'images/buildings/정보문화관.png' %}" alt="cardImage" >
                    {% elif post.place == '중앙도서관' %}
                        <img src="{% static 'images/buildings/중앙도서관.png' %}" alt="cardImage" >
                    {% elif post.place == '학림관' %}
                        <img src="{% static 'images/buildings/학림관.png' %}" alt="cardImage" >
                    {% elif post.place == '학술문화관' %}
                        <img src="{% static 'images/buildings/학술문화관.png' %}" alt="cardImage" >
                    {% elif post.place == '혜화관' %}
                        <img src="{% static 'images/buildings/혜화관.png' %}" alt="cardImage" >
                    {% elif post.place == '기타' %}
                        <img src="{% static 'images/buildings/기타.png' %}" alt="cardImage" >    
                    {% endif %}
                </span> <!--DB에 사진이 추가되면 삭제될 거임-->
            </span>
            <span class="detail">
                <div class="information">
                    <span class="info classification small orange">
                        #{{post.department}}
                    </span>
                    <span class="info date small white">
                        {% if post.day_left >= 0 %}
                            {{ post.day_left }}일 남음
                        {% else %}
                            지원 마감
                        {% endif %}
                    </span>
                    <span class="info classification small orange"> <!--인원 수 넣어주세요-->
                        #{{post.department}}
                    </span>
                </div>
                <a class="title Caption big" href="{% url 'main:post-detail' post.id %}"> <!--url 수정 부탁드립니다-->
                    [{{post.organization}}] {{post.title}}
                </a>
                <div class="Caption light up">
                    <div>{{post.place}}</div>
                    <div>{{post.time}}</div>
                </div>
            </span>
            <a href="" class="more_info"> <!--url 수정 부탁드립니다-->
                <img src="{% static 'images/icons/check_applicator.svg' %}"/>
            </a>
        </div>
        {% endfor %}
    {% endif %}
</div>

<script src="{% static 'js/users/staff_mypost.js' %}"></script>

{% endblock %}