<!--교직원 마이페이지 담당자:이동건-->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/users/staff_mypage.css'%}"
/>

<div class="staffScreen">
    <div class="staffBody">
        <div class="staffProfile">
            <div class="profileImage">
                <img class="profileImage" src="{% static 'images/icons/imgprofile.svg' %}" />
            </div>
            <div class="profileText">
                <span ><span id="mpTc">김동국</span>님,</span><span>안녕하세요!</span>
            </div>
        </div>
        <div class="staffNavBox">
            <div class="staffNav">
                <a class="nav" >
                    <img src="{% static 'images/icons/staffmypagenav1.svg' %}" />
                </a>
                <a class="nav">
                    <img src="{% static 'images/icons/staffmypagenav1.svg' %}" />
                </a>
                <a class="nav">
                    <img src="{% static 'images/icons/staffmypagenav1.svg' %}" />
                </a>
            </div>
            <div class="staffLogoutNav">
                <button class="logoutNav"><span class="logoutNavText">로그아웃</span></button>
                <button class="logoutNav"><span class="logoutNavText">회원탈퇴</span></button>
            </div>
        </div>
    </div>
</div>


<!-- <script src="{% static 'js/main/mainpage.js' %}"></script>  js쓸거면 링크수정-->
{% endblock %} 
{% block footer %}
    {% include 'shared/_footer.html' %}
{% endblock %}
