<!-- 학생 마이페이지 지원현황페이지 이정진-->
{% extends 'base.html' %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/users/student_myapplication.css'%}"
/>

<div class="content" id="header">
  <a href="">
    <img src="{% static 'images/icons/vector.svg' %}" id="vector" />
  </a>
  <span class="Capital Caption" style="margin-bottom: 0.5em">지원 현황</span>
</div>

<div class="content" id="main2">
  {% if applicated_posts %} {% for post in applicated_posts %}
  <div class="card">
    <span class="photo">
      <span class="architecture"></span>
      <!--DB에 사진이 추가되면 삭제될 거임-->
    </span>
    <span class="detail">
      <div class="information">
        <span class="info classification small orange">
          #{{post.department}}
        </span>
        <span class="info date small white">
          {% if post.day_left >= 0 %} {{ post.day_left }}일 남음 {% else %} 지원
          마감 {% endif %}
        </span>
        <span class="info classification small orange">
          <!--인원 수 넣어주세요-->
          #{{post.department}}
        </span>
      </div>
      <a class="title Caption big" href="{% url 'main:post-detail' post.id %}">
        <!--url 수정 부탁드립니다-->
        [{{post.organization}}] {{post.title}}
      </a>
      <div class="Caption light up">
        <div>{{post.place}}</div>
        <div>{{post.time}}</div>
      </div>
    </span>
    <div class="more_info">
      <!--if문으로 합격 불합격 처리 경우 나눠주세요-->
      <img src="{% static 'images/icons/fail.svg' %}" />
      <img src="{% static 'images/icons/pass.svg' %}" />
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

<script src="{% static 'js/users/staff_mypost.js' %}"></script>

{% endblock %}
