<!--교직원 알아보기 페이지 담당자:이정진-->
{% extends 'base.html' %} {% block content %} {% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/main/mainlistpage.css'%}"
/>
<div class="test" id="test"> 
<div class="content" id="header" style="flex-direction: row; align-items: center; justify-content: flex-start;">
  <a href="javascript:history.back()">
      <img src="{% static 'images/icons/vector.svg' %}" id="vector">
  </a>
  <span class="Capital Caption" style="margin-bottom:0.5em;">나의 근로</span>
</div>

<div class="content" id="main2">
    {% if mywork_posts  %}
        {% for post in mywork_posts  %}
        <div class="card">
            <form action="{% url 'main:scraps' post.id %}" method='POST'> <!--스크랩-->
                {% csrf_token %}
                <button name="star" class="star" value="none">
                    {% if request.user in post.scrap.all %}
                        <img src="{% static 'images/icons/blink_star.svg' %}"/>
                    {% else %}
                        <img src="{% static 'images/icons/star.svg' %}"/>
                    {% endif %}
                </button>
            </form>
            <span class="photo">
                <span class="architecture">
                    <!--건물 사진 적용-->
                    {% if post.place == '경영/사회과학관' %}
                        <img src="{% static 'images/buildings/경영사회과학관.png' %}" alt="cardImage">
                    {% elif post.place == '과학관' %}
                        <img src="{% static 'images/buildings/과학관.png' %}" alt="cardImage" >
                    {% elif post.place == '남산학사' %}
                        <img src="{% static 'images/buildings/남산학사.png' %}" alt="cardImage" >
                    {% elif post.place == '다향관' %}
                        <img src="{% static 'images/buildings/다향관.png' %}" alt="cardImage" >
                    {% elif post.place == '명진관' %}
                        <img src="{% static 'images/buildings/명진관.png' %}" alt="cardImage" >
                    {% elif post.place == '법학/만해관' %}
                        <img src="{% static 'images/buildings/법학만해관.png' %}" alt="cardImage" >
                    {% elif post.place == '본관' %}
                        <img src="{% static 'images/buildings/본관.png' %}" alt="cardImage" >
                    {% elif post.place == '신공학관' %}
                        <img src="{% static 'images/buildings/신공학관.png' %}" alt="cardImage" >
                    {% elif post.place == '원흥관' %}
                        <img src="{% static 'images/buildings/원흥관.png' %}" alt="cardImage" >
                    {% elif post.place == '정보문화관' %}
                        <img src="{% static 'images/buildings/정보문화관.png' %}" alt="cardImage" >
                    {% elif post.place == '중앙도서관' %}
                        <img src="{% static 'images/buildings/중앙도서관.png' %}" alt="cardImage" >
                    {% elif post.place == '학림관' %}
                        <img src="{% static 'images/buildings/학림관.png' %}" alt="cardImage" >
                    {% elif post.place == '학술문화관' %}
                        <img src="{% static 'images/buildings/학술문화관.png' %}" alt="cardImage" >
                    {% elif post.place == '혜화관' %}
                        <img src="{% static 'images/buildings/혜화관.png' %}" alt="cardImage" >
                    {% elif post.place == '기타' %}
                        <img src="{% static 'images/buildings/기타.png' %}" alt="cardImage" >    
                    {% endif %}
                </span> <!--DB에 사진이 추가되면 삭제될 거임-->
            </span>
            <span class="detail">
                <div class="information">
                    <span class="info classification small orange">
                        #{{post.department}}
                    </span>
                    <span class="info date small white">
                        {% if post.day_left >= 0 %}
                            {{ post.day_left }}일 남음
                        {% else %}
                            모집마감
                        {% endif %}
                    </span>
                </div>
                <a class="title Caption big" href="{% url 'main:post-detail' post.id %}">
                    [{{post.organization}}] {{post.title}}
                </a>
                <div class="Caption light up">
                    <div>{{post.place}}</div>
                    <div>{{post.time}}</div>
                </div>
            </span>
            <button type="button" class="more_info">
                <img src="{% static 'images/icons/MY.svg' %}"/>
            </button>
        </div>
        {% endfor %}
    {% endif %}
</div>

</div>

<script src="{% static 'js/main/mainlistpage.js' %}"></script>

{% endblock %}